.container-fluid {
  background-color: yellow;
  padding: 30px;
  border: 3px solid black;
}
.header {
  background-color: blue;
  padding: 30px;
  border: 3px solid black;
  height: 200px;
}
.nav {
  background-color: green;
  padding: 30px;
  border: 3px solid black;
  height: 100px;
}
.content {
  background-color: red;
  padding: 30px;
  border: 3px solid black;
  height: 300px;
}
.aside {
  background-color: aqua;
  padding: 30px;
  border: 3px solid black;
  height: 300px;
}
.promo {
  background-color: orange;
  padding: 30px;
  border: 3px solid black;
  height: 300px;
}
footer {
  background-color: black;
  padding: 30px;
  height: 100px;
  color: white;
}

/*MEDIA QUERIES*/
@media screen and (max-width : 768px) {
  .container-fluid {
    background-color: black;
  }
  .header, .nav, .content, .aside {
    background-color: brown;
    color: pink;
  }
  .promo {
    background-color: green;
    color: brown;
  }
}
@media screen and (max-width : 375px) {
  .container-fluid {
    background-color: white;
  }
  .header, .nav, .content, .aside {
    background-color: green;
    color: yellow;
  }
  .promo {
    background-color: black;
    color: black;
  }
}
